/* ==========================================================================
   #SPACER
   ========================================================================== */

@import "../../../styles/settings/settings.global";
@import "../../../styles/tools/tools.functions";
@import "../../../styles/tools/tools.mixins";

.spacer {
    margin-bottom: rem-calc($base-spacing-unit);
}

.spacerNone {
    margin-bottom: 0;
}

.spacerTiny {
    margin-bottom: rem-calc($base-spacing-unit-tiny);
}

.spacerSmall {
    margin-bottom: rem-calc($base-spacing-unit-small);
}

.spacerLarge {
    margin-bottom: rem-calc($base-spacing-unit-large);
}

.spacerHuge {
    margin-bottom: rem-calc($base-spacing-unit-huge);
}


/* `Medium` breakpoint variants
   ========================================================================== */

.spacer\@md {
    @include tablet {
        margin-bottom: rem-calc($base-spacing-unit);
    }
}

.spacerNone\@md {
    @include tablet {
        margin-bottom: 0;
    }
}

.spacerTiny\@md {
    @include tablet {
        margin-bottom: rem-calc($base-spacing-unit-tiny);
    }
}

.spacerSmall\@md {
    @include tablet {
        margin-bottom: rem-calc($base-spacing-unit-small);
    }
}

.spacerLarge\@md {
    @include tablet {
        margin-bottom: rem-calc($base-spacing-unit-large);
    }
}

.spacerHuge\@md {
    @include tablet {
        margin-bottom: rem-calc($base-spacing-unit-huge);
    }
}


/* `Large` breakpoint variants
   ========================================================================== */

.spacer\@lrg {
    @include desktop {
        margin-bottom: rem-calc($base-spacing-unit);
    }
}

.spacerNone\@lrg {
    @include desktop {
        margin-bottom: 0;
    }
}

.spacerTiny\@lrg {
    @include desktop {
        margin-bottom: rem-calc($base-spacing-unit-tiny);
    }
}

.spacerSmall\@lrg {
    @include desktop {
        margin-bottom: rem-calc($base-spacing-unit-small);
    }
}

.spacerLarge\@lrg {
    @include desktop {
        margin-bottom: rem-calc($base-spacing-unit-large);
    }
}

.spacerHuge\@lrg {
    @include desktop {
        margin-bottom: rem-calc($base-spacing-unit-huge);
    }
}
