/* ==========================================================================
   #TILE
   ========================================================================== */

@import "../../../styles/settings/settings.global";
@import "../../../styles/settings/settings.typography";
@import "../../../styles/tools/tools.functions";
@import "../../../styles/tools/tools.mixins";

.tile {
    height: 100%;
}

.inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.number {
    display: inline-block;
    margin-bottom: rem-calc($base-spacing-unit);
    @include font-size($font-size-4, none);

    @include desktop {
        margin-bottom: rem-calc($base-spacing-unit-large);
        @include font-size($font-size-3, none);
    }
}

.heading {
    text-align: center;
    @include font-size($font-size-2, none);

    @include desktop {
        @include font-size($font-size-1, none);
    }
}
