/* ==========================================================================
   #TEXT
   ========================================================================== */

.text {
    margin-bottom: 0;
    max-width: 75ch;
}

.center {
    margin: {
        left: auto;
        right: auto;
    }
}
