/* ==========================================================================
   #FOOTER
   ========================================================================== */

@import "../../../styles/settings/settings.global";
@import "../../../styles/settings/settings.typography";
@import "../../../styles/tools/tools.functions";
@import "../../../styles/tools/tools.mixins";

.footer {
    background-color: $colour-two;
    padding: {
        top: rem-calc($base-spacing-unit-large);
        bottom: rem-calc($base-spacing-unit-huge);
    }
    text-align: center;
}

.inner {

    @include tablet {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

}

.logos {
    align-items: flex-start;
    display: flex;
    justify-content: center;
}

.logo {
    align-items: center;
    display: flex;
    width: 80px;

    img {
        width: 100%;
    }

    &:not(:first-child) {
        margin-left: rem-calc($base-spacing-unit-small);
    }
}

.logoLarge {
    width: 120px;
}

.copyright {
    margin-bottom: 0;
    @include font-size($font-size-6, 1);
}
