/* ==========================================================================
   #PADDING
   ========================================================================== */

// Use '!important' deliberately here – we always want utility classes to take.

@for $i from 0 through 120 {

    .u-pad-top-#{$i} {
        padding-top: #{$i}px;
    }

}

@for $i from 0 through 120 {

    .u-pad-btm-#{$i} {
        padding-bottom: #{$i}px;
    }

}


/* `Medium` breakpoint variants
   ========================================================================== */

@for $i from 0 through 120 {

    .u-pad-top-#{$i}\@md {
        @include tablet {
            padding-top: #{$i}px;
        }
    }

}

@for $i from 0 through 120 {

    .u-pad-btm-#{$i}\@md {
        @include tablet {
            padding-bottom: #{$i}px;
        }
    }

}


/* `Large` breakpoint variants
   ========================================================================== */

@for $i from 0 through 120 {

    .u-pad-top-#{$i}\@lrg {
        @include desktop {
            padding-top: #{$i}px;
        }
    }

}

@for $i from 0 through 120 {

    .u-pad-btm-#{$i}\@lrg {
        @include desktop {
            padding-bottom: #{$i}px;
        }
    }

}
