/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */

// Use '!important' deliberately here – we always want utility classes to take.

/* Font weights
   ========================================================================== */

.u-font-italic {
    font: {
        family: $font-fallback-serif;
        style: italic;
    }

    .fonts-loaded & {
        font-family: $font-serif;
    }
}


/* Adjustments
   ========================================================================== */

/**
 * ‘Can you just make that text a little bigger?’
 *
 * Example usage:
 * <p class="u-text++">A little bit bigger.</p>
 */

.u-text\+\+ {
    font-size: larger !important;
}

.u-text-- {
    font-size: smaller !important;
}


/* Font sizes
   ========================================================================== */

.u-fs-alpha {
    @include font-size($font-size-1, none, "important");
}

.u-fs-beta {
    @include font-size($font-size-2, none, "important");
}

.u-fs-gamma {
    @include font-size($font-size-3, none, "important");
}

.u-fs-delta {
    @include font-size($font-size-4, none, "important");
}

.u-fs-epsilon {
    @include font-size($font-size-5, none, "important");
}

.u-fs-zeta {
    @include font-size($font-size-6, none, "important");
}

.u-fs-eta {
    @include font-size($font-size-7, none, "important");
}

.u-fs-theta {
    @include font-size($font-size-8, none, "important");
}


/* Font sizes: 'medium' breakpoint variants
   ========================================================================== */

.u-fs-alpha\@md {
    @include tablet {
        @include font-size($font-size-1, none, "important");
    }
}

.u-fs-beta\@md {
    @include tablet {
        @include font-size($font-size-2, none, "important");
    }
}

.u-fs-gamma\@md {
    @include tablet {
        @include font-size($font-size-3, none, "important");
    }
}

.u-fs-delta\@md {
    @include tablet {
        @include font-size($font-size-4, none, "important");
    }
}

.u-fs-epsilon\@md {
    @include tablet {
        @include font-size($font-size-5, none, "important");
    }
}

.u-fs-zeta\@md {
    @include tablet {
        @include font-size($font-size-6, none, "important");
    }
}

.u-fs-eta\@md {
    @include tablet {
        @include font-size($font-size-7, none, "important");
    }
}

.u-fs-theta\@md {
    @include tablet {
        @include font-size($font-size-8, none, "important");
    }
}


/* Font sizes: 'large' breakpoint variants
   ========================================================================== */

.u-fs-alpha\@lrg {
    @include desktop {
        @include font-size($font-size-1, none, "important");
    }
}

.u-fs-beta\@lrg {
    @include desktop {
        @include font-size($font-size-2, none, "important");
    }
}

.u-fs-gamma\@lrg {
    @include desktop {
        @include font-size($font-size-3, none, "important");
    }
}

.u-fs-delta\@lrg {
    @include desktop {
        @include font-size($font-size-4, none, "important");
    }
}

.u-fs-epsilon\@lrg {
    @include desktop {
        @include font-size($font-size-5, none, "important");
    }
}

.u-fs-zeta\@lrg {
    @include desktop {
        @include font-size($font-size-6, none, "important");
    }
}

.u-fs-eta\@lrg {
    @include desktop {
        @include font-size($font-size-7, none, "important");
    }
}

.u-fs-theta\@lrg {
    @include desktop {
        @include font-size($font-size-8, none, "important");
    }
}
