/* ==========================================================================
   #PROFILE-IMAGE
   ========================================================================== */

// Ensure these settings are configured before the @import of this file.
$profile-mw: 520px !default;
$profile-mw--large: 980px !default;

.profile {
    margin: {
        left: auto;
        right: auto;
    }
    max-width: $profile-mw;
}

.wide {
    max-width: $profile-mw--large;
}
