/* ==========================================================================
   #HERO
   ========================================================================== */

@import "../../../styles/settings/settings.global";
@import "../../../styles/settings/settings.typography";
@import "../../../styles/tools/tools.mixins";

// Ensure these settings are configured before the @import of this file.
$hero-height: 80vh !default;

.hero {
    background-color: $colour-six;
    display: flex;
    flex-direction: column-reverse;

    @include tablet {
        flex-direction: row;
        height: $hero-height;
        min-height: 600px;
    }
}

.panel {

    @include tablet {
        height: 100%;
        width: 50%;
    }

}

.textWrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.imageWrapper {
    height: 50vmax;
    overflow: hidden;
    position: relative;

    img {
        height: auto;
        min: {
            height: 100%;
            width: 100%;
        }
        max-width: none;
        position: absolute;
            top: 50%;
            left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
    }

    @include tablet {
        height: 100%;
    }
}
