/* ==========================================================================
   #GRID
   ========================================================================== */

@import "../../../styles/settings/settings.global";
@import "../../../styles/tools/tools.functions";
@import "../../../styles/tools/tools.mixins";

// Ensure these settings are configured before the @import of this file.
$grid-column-number: 12 !default;

.grid {
    @include gridWithFallback;
}


/* Style variants
   ========================================================================== */
@for $i from 2 through $grid-column-number {

    .grid--#{$i} {

        .gridItem {
            width: 100% / $i;
        }

        @supports (display: grid) {
            grid-template-columns: repeat($i, 1fr);

            .gridItem {
                width: auto;
            }
        }

    }

}

.grid--\@md {
    display: block;

    @include tablet {
        @include gridWithFallback;
    }
}

.grid--\@lrg {
    display: block;

    @include desktop {
        @include gridWithFallback;
    }
}
